@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button.wallet-adapter-button-trigger {
  background: linear-gradient(45deg, #00ffff, #ff00ff);
  border: 2px solid #ffffff;
  border-radius: 4px;
  width: fit-content; /* Adjust as needed */
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  padding: 3px 6px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button.wallet-adapter-button-trigger:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 255, 1);
}
